<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.min.css">
    <script src="js/main.js"></script>
    <title>Столица</title>
  </head>
  <body>
   
    <section class="dealings">
      <div class="dealings__article dealings__article_unparsed">
        <h4 class="dealings__title">НЕРАЗОБРАННОЕ</h4><span class="dealings__desc">13 заявок</span>
        <div class="post dealings__item"><img class="post__user-avatar" src="img/avatar.svg"><span class="post__social-network-title color_light-grey">Telegram channel</span><span class="post__current-data">Сегодня в 13:20</span><span class="post__user-name color_blue">Telegram Nickname</span>
          <div class="post__comment"> <img class="post__user-avatar post__user-avatar_minify" src="img/avatar.svg"><span class="post__comment-text">Можно сделать заказ на...</span></div><a class="post__share post__share_telegram" href="https://web.telegram.org/#/im"><img class="post__img img_telegram" src="img/telegram_logo.svg"></a>
        </div>
        <div class="post dealings__item"><img class="post__user-avatar" src="img/avatar.svg"><span class="post__social-network-title color_light-grey">Telegram channel</span><span class="post__current-data">Сегодня в 13:20</span><span class="post__user-name color_blue">Telegram Nickname</span>
          <div class="post__comment"> <img class="post__user-avatar post__user-avatar_minify" src="img/avatar.svg"><span class="post__comment-text">Можно сделать заказ на...</span></div><a class="post__share post__share_telegram" href="https://web.telegram.org/#/im"><img class="post__img img_telegram" src="img/telegram_logo.svg"></a>
        </div>
      </div>
      <div class="dealings__article dealings__article_wip">
        <h4 class="dealings__title">В работе</h4><span class="dealings__desc">10 заявок</span>
        <div class="post dealings__item"><img class="post__user-avatar" src="img/avatar.svg"><span class="post__social-network-title color_light-grey">Telegram channel</span><span class="post__current-data">Сегодня в 13:20</span><span class="post__user-name color_blue">Telegram Nickname</span>
          <div class="post__comment"> <img class="post__user-avatar post__user-avatar_minify" src="img/avatar.svg"><span class="post__comment-text">Можно сделать заказ на...</span></div><a class="post__share post__share_telegram" href="https://web.telegram.org/#/im"><img class="post__img img_telegram" src="img/telegram_logo.svg"></a>
        </div>
      </div>
      <div class="dealings__article dealings__article_assembly">
        <h4 class="dealings__title">СБОРКА ЗАКАЗА</h4><span class="dealings__desc">1 заявка</span>
        <div class="post dealings__item"><img class="post__user-avatar" src="img/avatar.svg"><span class="post__social-network-title color_light-grey">Telegram channel</span><span class="post__current-data">Сегодня в 13:20</span><span class="post__user-name color_blue">Telegram Nickname</span>
          <div class="post__comment"> <img class="post__user-avatar post__user-avatar_minify" src="img/avatar.svg"><span class="post__comment-text">Можно сделать заказ на...</span></div><a class="post__share post__share_telegram" href="https://web.telegram.org/#/im"><img class="post__img img_telegram" src="img/telegram_logo.svg"></a>
        </div>
      </div>
      <div class="dealings__article dealings__article_realized">
        <h4 class="dealings__title">УСПЕШНО РЕАЛИЗОВАНО</h4><span class="dealings__desc">1 заявка</span>
        <div class="post dealings__item"><img class="post__user-avatar" src="img/avatar.svg"><span class="post__social-network-title color_light-grey">Telegram channel</span><span class="post__current-data">Сегодня в 13:20</span><span class="post__user-name color_blue">Telegram Nickname</span>
          <div class="post__comment"> <img class="post__user-avatar post__user-avatar_minify" src="img/avatar.svg"><span class="post__comment-text">Можно сделать заказ на...</span></div><a class="post__share post__share_telegram" href="https://web.telegram.org/#/im"><img class="post__img img_telegram" src="img/telegram_logo.svg"></a>
        </div>
      </div>
    </section>
    
  </body>
</html>