<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
    <title>dot</title>
</head>

<body>
    <!-- NAV BLOCK BEGIN -->
    <nav class="nav">
       <span class="logo">uMark.it - uAdds</span>
        <div class="data-range-wrapper">
        <span class="data-range">Диапазон дат </span><span class="data">2.03.2021 - 3.03.2021
            <svg class="data__img" width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.5 7L12.9952 0.25H0.00480938L6.5 7Z" fill="white"></path>
            </svg>
        </span>
        </div>
    </nav>
    <!-- NAV BLOCK END -->

    <main class="content-wrapper">

        <!-- MENU BLOCK BEGIN -->
        <div class="menu-wrapper">
            <div class="menu">
                <span class="menu__item">Сделки</span>
                <span class="menu__item">Источники</span>
                <span class="menu__item">Кампании</span>
                <span class="menu__item">Группы</span>
                <span class="menu__item">Ключевые слова</span>
                <span class="menu__item">Объявления </span>
            </div>
        </div>
        <!-- MENU BLOCK END -->

        <div class="options-wrapper">
            <!-- HEADER BLOCK BEGIN -->
            <header class="header">
                <h4 class="title header__title">Источники</h4>
                <div class="header__btn-wrapper">
                    <button class="btn btn_download">
                        <img class="btn__img" src="download.svg">
                        <span class="btn_text text_grey">Скачать</span>
                    </button>
                    <button class="btn btn_columns">
                        <div class="btn_columns__img-wrapper">
                            <img class="btn__img" src="columns.svg">
                            <img class="btn__img" src="columns.svg">
                            <img class="btn__img" src="columns.svg">
                        </div>
                        <span class="btn_text text_grey">Столбцы</span>
                    </button>
                </div>

            </header>
            <!-- NAV BLOCK END -->

            <!-- TABLE BLOCK BEGIN -->
            <section class="table">
                <div class="table__item sources">
                    <h4 class="table__title">Источники</h4>
                </div>
                
                <div class="table__item clicks">
                    <span class="table__p">Клики</span>
                </div>
                
                <div class="table__item shows">
                    <span class="table__p">Показы</span>
                </div>
                
                <div class="table__item conversion-price">
                    <span class="table__p">Стоимость <br> конверсии</span>
                </div>
                
                
                <div class="table__item price">
                    <span class="table__p">Стоимость</span>
                </div>
                
                <div class="table__item conversion">
                    <span class="table__p">Конверсии</span>
                </div>
                
                <div class="table__item sales">
                    <span class="table__p">Продажи</span>
                </div>
            </section>
            <!-- TABLE BLOCK END -->
        </div>


    </main>
</body>

</html>
