.nav {
    background: #5F6368;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    padding: 0 20px;
    font-size: 1.4rem;
}

.data-range {
    color: #A2A2A2;
}

.data {
    color: #fff;
    border-bottom: 1px solid #A2A2A2;
}

.data__img {
    margin: 0 5px;
}

/* fz change at 450px*/

@media screen and (max-width: 450px) {
    .data-range-wrapper {
        display: grid;
        grid-row-gap: 0.5rem;
    }
}
